{% extends 'mantenimiento/tabla_base.html' %}

{% block columnas_header %}
    <th>Nombre del Distrito</th>
{% endblock %}

{% block filas_tabla %}
    {% for distrito in page_obj %}
    <tr>
        <td style="text-align: center;"><strong>{{ distrito.id }}</strong></td>
        <td>{{ distrito.nombre }}</td>
        <td style="text-align: center;">
            {% if distrito.estado %}
                <span class="badge-activo">Activo</span>
            {% else %}
                <span class="badge-inactivo">Inactivo</span>
            {% endif %}
        </td>
        <td style="text-align: center;">
            <div class="acciones-cell">
                <a href="{% url 'distrito_editar' distrito.id %}" class="btn-action-edit">Editar</a>
                
                <button type="button" 
                        class="btn-action-delete" 
                        data-url="{% url 'distrito_anular' distrito.id %}"
                        data-nombre="{{ distrito.nombre }}"
                        onclick="abrirModalAnularConData(this)">
                    Anular
                </button>
            </div>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" style="text-align: center; padding: 25px; color: #777;">
            No se encontraron distritos registrados.
        </td>
    </tr>
    {% endfor %}
{% endblock %}
